@use '$styles/variables' as var;

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var.$padding-6;
	padding: var.$padding-6;
	.navbar__btn-menu {
		width: 40px;
	}

	&__right,
	&__left {
		display: flex;
		align-items: center;
		gap: var.$padding-6;
	}
}
