@use '$styles/variables' as var;

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var.$padding-6;
	padding: var.$padding-6;
	background-color: var.$theme-background;

	&__right,
	&__left {
		display: flex;
		align-items: center;
		gap: var.$padding-6;
	}
}
