@use '$styles/variables' as var;

.sidebar {
	padding: var.$padding-6;
	svg {
		fill: inherit;
		color: inherit;
	}

	ul {
		li {
			a {
				display: flex;
				align-items: center;
				gap: var.$padding-6;
				svg {
					width: 25px;
				}
			}
		}
	}
}
