@use 'variables' as var;

body {
	color: var.$theme-text;
	background-color: var.$theme-background;
	font-size: var.$font-size-5;
}

hr {
	color: var.$theme-divider;
	border-width: 1px;
}

svg {
	width: var(--svg-width);
}
